.sider 
    .sider-header 
        h2 QLNT
    .inner-menu 
        ul  
            li 
                a(href=` /rent-houses`) Nhà trọ
            li 
                a(href=` /rooms`) Phòng trọ
            li 
                a(href=` /users`) Khách thuê
            li
                a(href=` /contracts`) Hợp đồng