.sider 
    .inner-menu 
        ul  
            li 
                a(href=` /rent-houses`)
                    i.fas.fa-home
                    span Quản lý nhà trọ
            li 
                a(href=` /rooms`)
                    i.fas.fa-door-open
                    span Quản lý phòng
            li 
                a(href=` /users`)
                    i.fas.fa-users
                    span Quản lý khách thuê
            li
                a(href=` /contracts`)
                    i.fas.fa-file-contract
                    span Quản lý hợp đồng
            li 
                a(href=`/bills`)
                    i.fas.fa-receipt
                    span Quản lý hóa đơn
            li
                a(href=`revenue`)
                    i.fa-solid.fa-chart-area
                    span Thống kê doanh thu